.vs
.vscode
obj
build
*.sln
*.user
*.vcxproj
*.vcxproj.filters
imgui.ini
.DS_Store
*.make
Makefile
__pycache__
*.pyc
*.pyo
*.pyd

*_rtti_autogen.hpp
*_rtti_autogen.cpp
.rtti_cache.json

# Premake5 binaries (downloaded by setup scripts)
premake5
premake5.exe
luasocket.dll
